<link rel="stylesheet" href="/css/editProduct.css">

<div class="addProductDivPrincipal">
    <div class="formAddProduct">
        <h1>Editar Un Producto</h1>
        <form action="/product/edit/{{product.id}}" method="post">
            <div class="inputAdd">
                
                <input type="text" value="{{product.modelo}}" id="modelo" name="modelo" placeholder="Nombre Del Modelo" required>
            </div>
            <div class="inputAdd">
                <select class="marcaInput" name="marca" id="marca" value={{product.marca}} required>
                    <option>Yamaha</option>
                    <option>Fender</option>
                    <option>Takamine</option>
                    <option>Marshall</option>
                    <option>Gibson</option>
                    <option>Casio</option>
                    <option>LesPaul</option>
                </select>
            </div>
            <div class="inputAdd">
                <select value={{product.instrumentoTipo}} class="instrumentoTipo" name="instrumentoTipo" id="instrumentoTipo" required>
                    <option>Guitarra</option>
                    <option>Piano</option>
                    <option>Bateria</option>
                    <option>Violin</option>
                </select>
            </div>
            <div class="inputAdd">
                <input type="number" value={{product.precioPublico }} id="precioPublico" name="precioPublico" placeholder="Precio Publico" required>
            </div>
            <div class="inputAdd">
                <input type="number" value={{product.precioTienda}} id="precioTienda" name="precioTienda" placeholder="Precio Tienda" required>
            </div>
            <div class="inputAdd">
                <input type="number" value={{product.unidades}} id="unidades" name="unidades" placeholder="Unidades Disponibles" required>
            </div>
            <div class="inputAdd">
                <input type="text" value="{{product.foto}}" id="foto" name="foto" placeholder="Foto" required>
            </div>
            <div class="button-container">
                <button type="submit">Editar Producto</button>
            </div>
            
            

        </form>
    </div>
    <div class="imageAndMessage">

                <div class="slider-frame">
                    <ul>
                        <li><img src="/img/carro1.jpg" alt=""></li>
                        <li><img src="/img/carro2.jpg" alt=""></li>
                        <li><img src="/img/carro3.jpg" alt=""></li>
                        <li><img src="/img/carro4.jpg" alt=""></li>
                    </ul>
                </div>

                <div class="button-container2">
                    <a  onclick ="goBack()">Ver Productos</a>
                </div>

        </div>
    </div>
    <script>
        function goBack() {
            // Utiliza el método `history.back()` para regresar a la página anterior
            window.history.back();
        }
    </script>
    </div>
</div>