<link rel="stylesheet" href="/css/gestionarUsuarios.css">

<header>
    <div class="titulo">
        <a href="javascript:history.go(-1)"><h1 class="title">H&H</h1></a>
            
    </div>

    <div class="options">
    <ul>
        <li>
            <a href="/p-v">
                <img src="/img/005-terminal-de-pago.png" alt="">
                <span>Punto De Venta</span>
            </a>
        </li>
        <li>
            <a href="/master/user/gestionar">
                <img src="/img/003-usuario.png" alt="">
                <span>Gestionar Usuarios</span>
            </a>
        </li>
        <li>
            <a href="/products">
                <img src="/img/001-agregar.png" alt="">
                <span>Agregar Producto</span>
            </a>
        </li>
        <li>
            <a href="/proveedores">
                <img src="/img/006-repartidor.png" alt="">
                <span>Lista Distribuidores</span>
            </a>
        </li>
        <li>
            <a href="/pedidos">
                <img src="/img/004-orden.png" alt="">
                <span>Pedidos Tienda</span>
            </a>
        </li>
        <li>
            <a href="/logout">
                <img src="/img/002-cerrar-sesin.png" alt="">
                <span>Cerrar Sesión</span>
            </a>
        </li>
    </ul>
</div>

</header>

<div class="mainUsers">
    <div class="leftSideUsers">
        <h1>Agrega un nuevo usuario</h1>
        <div class="imgUsuario"></div>
        <div class="form">
            <form action="products/add/root" method="post">
                <input type="text" placeholder="Username" name="username" id="username">
                <input type="password" placeholder="Password"  name="password" id="password">
                <select name="rol" id="rol">
                    <option value="invitado">invitado</option>
                    <option value="vendedor">vendedor</option>
                    <option value="admin">admin</option>
                </select>
                <button>Crear Usuario</button>
            </form>
        </div>
    </div>
    <div class="tablaSide">
        <table class="dataTable">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>USERNAME</th>
                    <th>ROL</th>
                    <th>OPCIONES</th>
                </tr>
            </thead>
            <tbody>
            {{#each user}}
            <tr>
                <td>{{@index}}</td>
                <td>{{username}}</td>
                <td>{{name_role}}</td>
                <td><a class="editBtn" href="/master/user/gestionar/editar/{{id}}">Editar</a><a class="deleteBtn" href="/master/user/gestionar/delete/{{id}}">Eliminar</a></td>
            </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
</div>