<link rel="stylesheet" href="/css/proveedor.css">
<div class="header">
    <div class="titulo">
        <a href="/login/user/master/view/"><h1 class="title">H&H</h1></a>
            
    </div>

    <div class="options">
        <ul>
            <li><a href="/p-v">Punto de venta</a></li>
            <li><a href="/master/user/gestionar">Gestionar Usuarios</a></li>
            <li><a href="/login/user/master/view/">Productos</a></li>
            <li><a href="/pedidos">Pedidos</a></li>
            <li><a href="/logout">Cerrar Sesión</a></li>
        </ul>
    </div>
</div>

<div class="body">
    <div class="titulos"><h2>Listado de proveedores</h2></div>
    <div class="main">
    <div class="listaOrganizacion">
       <div class="formAddProduct">

            <h1>Agrega Un Proveedor</h1>

            <form class="inputForm" action="/proveedores/add" method="post">

                <div class="inputAdd">
                    <input type="text" id="proveedor" name="nombreProveedor" placeholder="Nombre Del Proveedor">
                    <span class="line"></span>
                </div>

                <div class="inputAdd">
                    <input type="email" id="email" name="correo" placeholder="Email">
                    <span class="line"></span>
                </div>

                <div class="inputAdd">
                    <input type="number" minlength="10" maxlength="10" id="telefono" name="telefono" placeholder="Telefono">
                    <span class="line"></span>
                </div>


                <div class="button-container">
                    <button type="submit">Agregar Proveedor</button>
                </div>
                
            </form>
        </div>
    </div>
    <div class="listadoDeProdu">
        {{#each proveedores}}
            <div class="productoCard">
                <h3 class="productModel">{{nombreProveedor}}</h3>
                <h5 class="productPrice">{{correo}}</h5>
                <h5 class="productPrice">Tel: {{telefono}}</h5>
                <div class="funciones"> 
                    <a class="edit" href="/proveedor/edit/{{id}}">Editar</a>
                    <a class="delete" href="/proveedor/delete/{{id}}">Eliminar </a>
                </div>
            </div>
        {{/each}}
    </div>
    </div>      
</div>