<link rel="stylesheet" href="/css/masterPrincipalView.css">
<div class="header">
    <div class="titulo">
            <h1 class="title">H&H</h1>
    </div>
<div class="options">
    <ul>
        <li>
            <a href="/p-v/{{user.id}}">
                <img src="/img/005-terminal-de-pago.png" alt="">
                <span>Punto De Venta</span>
            </a>
        </li>
        <li>
            <a href="/master/user/gestionar">
                <img src="/img/003-usuario.png" alt="">
                <span>Gestionar Usuarios</span>
            </a>
        </li>
        <li>
            <a href="/products">
                <img src="/img/001-agregar.png" alt="">
                <span>Agregar Producto</span>
            </a>
        </li>
        <li>
            <a href="/proveedores">
                <img src="/img/006-repartidor.png" alt="">
                <span>Lista Distribuidores</span>
            </a>
        </li>
        <li>
            <a href="/pedidos">
                <img src="/img/004-orden.png" alt="">
                <span>Pedidos Tienda</span>
            </a>
        </li>
        <li>
            <a href="/logout">
                <img src="/img/002-cerrar-sesin.png" alt="">
                <span>Cerrar Sesión</span>
            </a>
        </li>
    </ul>
</div>


</div>

<div class="body">
    <div class="titulos"><h2 class="h2Titulo"> Listado de productos</h2></div>
    <div class="main">
    <div class="listaOrganizacion">
   <form action="/productos/categoria/" method="post">
    <h1>Ordenar</h1>
    
    <h2>Precio</h2>
    <div class="filtrarPrecio">
        <input type="text" name="minPrice" placeholder="Mínimo">
        <span> - </span>
        <input type="text" name="maxPrice" placeholder="Máximo">
    </div>
    
   <h2>Instrumento</h2>
<select name="instrumentoTipo">
    <option value="Todos">Todos</option>
    <option value="Guitarra">Guitarra</option>
    <option value="Piano">Piano</option>
    <option value="Bateria">Bateria</option>
    <option value="Violin">Violin</option>
</select>

<h2>Marca</h2>
<select name="marca">
    <option value="Todos">Todos</option>
    <option value="Fender">Fender</option>
    <option value="Yamaha">Yamaha</option>
    <option value="Gibson">Gibson</option>
    <option value="Casio">Casio</option>
    <option value="Takamine">Takamine</option>
    <option value="Marshall">Marshall</option>
    <option value="LesPaul">LesPaul</option>
</select>
    <div class="btnFiltrar">
        <button type="submit">Filtrar</button>
    </div>

</form>
    </div>
    <div class="listadoDeProdu">
        {{#each products}}
            <div class="productoCard">
                <img class="imgProduct" src={{foto}} alt="">
                <h3 class="productModel">{{modelo}}</h3>
                <h4 class="productMarca">{{marca}}</h4>
                <h5 class="productPrice">{{instrumentoTipo}}</h5>
                <h5 class="productPrice">{{precioPublico}}$</h5>
                <h5 class="productUnidades">{{unidades}} unidades</h5>
                <div class="funciones">
                    <a class="edit" href="/product/edit/{{id}}">Editar Producto</a>
                    <a class="delete" href="/delete/{{id}}">Eliminar Producto</a>
                </div>
            </div>
        {{/each}}
    </div>
    </div>      
</div>