<link rel="stylesheet" href="/css/masterPrincipalView.css">
<div class="header">
    <div class="titulo">
            <h1 class="title">H&H</h1>
    </div>

    <div class="options">
        <ul>
            <li><a href="/p-v">Punto de venta</a></li>
            <li><a href="/master/user/gestionar">Gestionar Usuarios</a></li>
            <li><a href="/products">Agrega un producto</a></li>
            <li><a href="/proveedores">Proveedores</a></li>
            <li><a href="/pedidos">Pedidos</a></li>
            <li><a href="/logout">Cerrar Sesión</a></li>
        </ul>
    </div>
</div>

<div class="body">
    <div class="titulos"><h2>Listado de productos</h2></div>
    <div class="main">
    <div class="listaOrganizacion">
   <form action="/productos/categoria/" method="post">
    <h1>Ordenar</h1>
    
    <h2>Precio</h2>
    <div class="filtrarPrecio">
        <input type="text" name="minPrice" placeholder="Mínimo">
        <span> - </span>
        <input type="text" name="maxPrice" placeholder="Máximo">
    </div>
    
   <h2>Instrumento</h2>
<select name="instrumentoTipo">
    <option value="Todos">Todos</option>
    {{#each products}}
        <option value="{{instrumentoTipo}}">{{instrumentoTipo}}</option>
    {{/each}}
</select>

<h2>Marca</h2>
<select name="marca">
    <option value="Todos">Todos</option>
    {{#each products}}
        <option value="{{marca}}">{{marca}}</option>
    {{/each}}
</select>

    <button type="submit">Filtrar</button>
</form>
    </div>
    <div class="listadoDeProdu">
        {{#each products}}
            <div class="productoCard">
                <img class="imgProduct" src={{foto}} alt="">
                <h3 class="productModel">{{modelo}}</h3>
                <h4 class="productMarca">{{marca}}</h4>
                <h5 class="productPrice">{{instrumentoTipo}}</h5>
                <h5 class="productPrice">{{precioPublico}}$</h5>
                <h5 class="productUnidades">{{unidades}} unidades</h5>
                <div class="funciones">
                    <a class="edit" href="/product/edit/{{id}}">Editar Producto</a>
                    <a class="delete" href="/delete/{{id}}">Eliminar Producto</a>
                </div>
            </div>
        {{/each}}
    </div>
    </div>      
</div>