<link rel="stylesheet" href="/css/pedidos.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

<header>
    <div class="titulo">
        <a href="/login/user/master/view/"><h1 class="title">H&H</h1></a>
            
    </div>

    <div class="options">
        <ul>
            <li><a href="">Punto de venta</a></li>
            <li><a href="/login/user/master/view/">Productos</a></li>
            <li><a href="/proveedores">Proveedores</a></li>
            <li><a href="/logout">Cerrar Sesión</a></li>

        </ul>
    </div>
</header>


<div class="content-container">
  <div class="left-side">

    <div class="mainUsers">
      <div class="leftSideUsers">
        <h1>Editar pedido</h1>
        <div class="form">
          <form action="/pedido/edit" method="post">
            <select id="numSerie" name="numSerie">
              {{#each orders}}
              <option value="{{numSerie}}">{{numSerie}}</option>
              {{/each}}
            </select>
            <select id="idUsuario" name="idUsuario">
              {{#each users}}
                <option value="{{id}}">{{id}}: {{username}}</option>
              {{/each}}
            </select> 
            <select name="estado" id="estado">
              <option value="Entregado">Entregado</option>
              <option value="Pendiente">Pendiente</option>
              <option value="Cancelado">Cancelado</option>
            </select>
            <button type="submit">Editar</button>
          </form>
        </div>
      </div>
    </div>
    
    <div class="leftSideUsers">
      <h1>Realizar pedido</h1>
      <h6>Productos con pocas unidades en el almacen:</h6>
      <div class="form">
        <ul>
        {{#each productosFiltrados}}
          <h3 class="faltantes">Modelo: {{unidades}}{{modelo}}</h3>
        {{/each}}
        </ul>
        <a class="edit" href="/pedidoAdd">Pedir</a>
      </div>
    </div>

  </div>
  
  <div class="tablaSide">
    <table class="dataTable">
      <thead>
        <tr>
          <th>NUM. SERIE</th>
          <th>PROVEEDOR</th>
          <th>UNIDADES</th>
          <th>TOTAL</th>
          <th>USUARIO</th>
          <th>ESTADO</th>
          <th>OPCION</th>
        </tr>
      </thead>
    <tbody>
    {{#each orders}}
    <tr>
      <td>{{numSerie}}</td>
      <td>{{proveedor}}</td>
      <td>{{unidades}}</td>
      <td>{{costoTotal}}</td>
      <td>{{idUsuario}}</td>
      <td>{{estado}}</td>
      <td><a class="deleteBtn" href="/pedido/delete/{{numSerie}}">Eliminar</a></td>
    </tr>
    {{/each}}
  </div>
</div>







<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
